@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        body {
            background-color: #7ab5c7;
            margin: 0;
            padding: 40px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            height: 100vh;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }
      
        h2 {
            color: #333;
            text-align: center;
        }
        form {
            background: #fff;
            padding: 10px 45px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 250px;
            font-size: 14px;
        }
        form input[type="text"],
        form select,
        form input[type="file"] {
            width: 100%;
            padding: 6px;
            margin: 6px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }
        form input[type="submit"] {
            background-color: #7ab5c7;
            color: white;
            border: none;
            padding: 8px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 8px 0;
            cursor: pointer;
            border-radius: 4px;
        }
        form input[type="submit"]:hover {
            background-color: #669fa7;
        }
        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto 8px auto;
        }